{{ if .Values.serviceAccounts.create }}
{{ range .Values.serviceAccounts.config }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
{{- if .labels }}
  labels:
  {{- with .labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- if .annotations }}
  annotations:
  {{- with .annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
automountServiceAccountToken: {{ .automountServiceAccountToken }}

{{ end }}
{{ end }}
