{{ if .Values.storageClass.create }}
{{ range .Values.storageClass.config }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .name }}
  labels:
{{- if .labels }}
  {{- with .labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- if .annotations }}
  annotations:
  {{- with .annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
provisioner: {{ .provisioner }}
parameters:
  {{- with .parameters }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
allowVolumeExpansion: {{ .allowVolumeExpansion }}
reclaimPolicy: {{ .reclaimPolicy }}
{{- if .mountOptions }}
mountOptions:
  {{- with .mountOptions }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- if .allowVolumeExpansion }}
volumeBindingMode: {{ .volumeBindingMode }}
{{- end }}
{{- if .allowedTopologies }}
allowedTopologies:
  {{- with .allowedTopologies }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}

{{ end }}
{{ end }}
