# Default values for azure-prometheus-config.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
---
# Ref: https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/prometheus-metrics-scrape-configuration#configmaps
# Ref: https://github.com/Azure/prometheus-collector/blob/main/otelcollector/configmaps/ama-metrics-prometheus-config-node-windows-configmap.yaml
amaMetricsPrometheusConfigNodeWindows:
  enabled: false
  config: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: kubelet
      scheme: https
      metrics_path: /metrics
      scrape_interval: 30s
      label_limit: 63
      label_name_length_limit: 511
      label_value_length_limit: 1023
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        insecure_skip_verify: true
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      relabel_configs:
      - source_labels: [__metrics_path__]
        regex: (.*)
        target_label: metrics_path
      - source_labels: [__address__]
        replacement: '$NODE_NAME'
        target_label: instance
      - source_labels: [__address__]
        replacement: '$OS_TYPE'
        target_label: "kubernetes_io_os"
      static_configs:
      - targets: ['$NODE_IP:10250']

# Ref: https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/prometheus-metrics-scrape-configuration#configmaps
# Ref: https://github.com/Azure/prometheus-collector/blob/main/otelcollector/configmaps/ama-metrics-prometheus-config-node-configmap.yaml
amaMetricsPrometheusConfigNode: 
  enabled: false
  config: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: <your scrape job here>
    - job_name: <your scrape job here>

# Ref: https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/prometheus-metrics-scrape-configuration#configmaps
# Ref: https://github.com/Azure/prometheus-collector/blob/main/otelcollector/configmaps/ama-metrics-prometheus-config-configmap.yaml
amaMetricsPrometheusConfig:
  enabled: false
  config: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: <your scrape job here>
    - job_name: <your scrape job here>

# Ref: https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/prometheus-metrics-scrape-configuration#configmaps
# Ref: https://github.com/Azure/prometheus-collector/blob/main/otelcollector/configmaps/ama-metrics-settings-configmap.yaml
amaMetricsSettingsConfigmap:
  enabled: false
  config:
    schema-version:
      v1
    config-version:
      ver1
    prometheus-collector-settings: |-
      cluster_alias = ""
    default-scrape-settings-enabled: |-
      kubelet = true
      coredns = false
      cadvisor = true
      kubeproxy = false
      apiserver = false
      kubestate = true
      nodeexporter = true
      windowsexporter = false
      windowskubeproxy = false
      kappiebasic = true
      prometheuscollectorhealth = false
    pod-annotation-based-scraping: |-
      podannotationnamespaceregex = ""
    default-targets-metrics-keep-list: |-
      kubelet = ""
      coredns = ""
      cadvisor = ""
      kubeproxy = ""
      apiserver = ""
      kubestate = ""
      nodeexporter = ""
      windowsexporter = ""
      windowskubeproxy = ""
      podannotations = ""
      kappiebasic = ""
      minimalingestionprofile = true
    default-targets-scrape-interval-settings: |-
      kubelet = "30s"
      coredns = "30s"
      cadvisor = "30s"
      kubeproxy = "30s"
      apiserver = "30s"
      kubestate = "30s"
      nodeexporter = "30s"
      windowsexporter = "30s"
      windowskubeproxy = "30s"
      kappiebasic = "30s"
      prometheuscollectorhealth = "30s"
      podannotations = "30s"
    debug-mode: |-
      enabled = false
