apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "helm-release-cleaner.name" . }}
  labels:
{{ include "helm-release-cleaner.labels" . | indent 4 }}
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["delete", "get", "list"]