name: Check new releases

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # every day

jobs:
  check-and-update-charts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install updatecli
        uses: updatecli/updatecli-action@b846825b298f5351abd80f94c4f9eab63a38a804 # v2.98.0

      - name: Update dependencies
        run: |
          updatecli apply --config .github/updatecli/helm-update.yaml --commit=false

      - name: Check if release changed
        id: check_changes
        run: |
          git fetch origin

          if [ -n "$(git diff HEAD^ HEAD)" ]; then
            echo "release_changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Update README.md Helm Chart
        if: steps.check_changes.outputs.release_changed == 'true'
        uses: losisin/helm-docs-github-action@a57fae5676e4c55a228ea654a1bcaec8dd3cf5b5 # v1.6.2
        with:
          chart-search-root: charts

      - name: Get date
        id: date
        run: |
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Create PR with changes
        if: steps.check_changes.outputs.release_changed == 'true'
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.PAT_GITHUB }}
          commit-message: "chore: bump version charts (${{ steps.date.outputs.date }})"
          signoff: false
          branch: chore/bump-version-charts-${{ steps.date.outputs.date }}
          delete-branch: true
          title: '[charts] bump version (${{ steps.date.outputs.date }})'
          body: |
            This PR updates the appVersion of the charts to the latest release. We're working on improving the automation to make this process smoother.
          labels: |
            auto-pr-bump-version
